[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An example of infrastructure and application CI/CD with AWS CodePipeline, AWS CodeBuild, AWS CloudFormation and AWS CodeDeploy
[access "refs/*"]
	owner = group user/Paul Tung (paultung)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Paul Tung (paultung)
	label-Verified = -1..+1 group user/Paul Tung (paultung)
	push = group user/Paul Tung (paultung)
	read = group user/Paul Tung (paultung)
	rebase = group user/Paul Tung (paultung)
	removeReviewer = group user/Paul Tung (paultung)
	submit = group user/Paul Tung (paultung)
[access "refs/heads/*"]
	create = group user/Paul Tung (paultung)
	push = +force group user/Paul Tung (paultung)
	pushMerge = group user/Paul Tung (paultung)
	read = group user/Paul Tung (paultung)
[access "refs/tags/*"]
	push = group user/Paul Tung (paultung)
	push = +force group user/Paul Tung (paultung)
